.footer-field{  
    margin-left: 93px;
  }
  
  .footer-input-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 12px;
    
  }
  .footer-input-uptitle {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--secondary-text-color);
    margin-bottom: 20px;  
  }
  
  .footer-input {
    width: 358px;
    height: 50px;
    border-radius: 4px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    background-color: transparent;
    outline: transparent;
    font-size: 16px;  
    padding-left: 16px; 
    color: var(--secondary-text-color);

    &:focus {
      border-color: var(--accent-color);
    }
    &::placeholder {
      color: rgba(255, 255, 255, 0.6);
      font-size: 16px;
      line-height: 1.25;
      letter-spacing: 0.03em;  
    }
  }
  
  .footer-btn {
    width: 200px;
    height: 50px;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    text-align: center;
    letter-spacing: 0.06em;
    padding: 10px 62px 10px 28px;
    color: var(--secondary-text-color);
    background-color: var(--accent-color);
    border-color: transparent;
    border: none;
    border-radius: 4px;
    display: flex;  
    transition: box-shadow var(--tra), color var(--tra) ;
    position: relative;  
    
    &:hover,
    &:focus {
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
      background-color: #188CE8;
    }
  }

  .icon-send {
    position: absolute;
    fill: var(--secondary-text-color);
    right: 28px;
    top: 50%;
    transform: translateY(-50%);
  }