.footer-container{
    display: flex;
    align-items: baseline;
  }
  .contacts {    
    padding-top: 60px;
    padding-bottom: 60px;
    background-color:  #2F303A;
  }
  
  .contacts-address {
    display: block;
    margin-top: 20px;
  }
  
  .contacts-link {  
    margin-bottom: 9px;    
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
  
    transition: color var(--tra);

    &:hover,
    &:focus {
       color:var(--secondary-text-color); 
    } 
  }
  
  .contacts-address-item {
    margin-bottom: 9px; 
    &:last-child {
      margin-bottom: 0;
    } 
  }
    
  .contacts-mail,
  .contacts-phone {
    font-family: 'Roboto', sans-serif;    
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
    transition: color var(--tra);    
    &:hover,
    &:focus {
       color:var(--secondary-text-color); 
    } 
  } 

